<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% unless current_user %>
      <a href="/auth/githubteammember">Sign in with GitHub</a>
    <% end %>
  </body>
</html>
