  Slack username
  Started on

  <% @employees.each do |employee| %>
      <li><%= employee.slack_username %></li>
      <li><%= employee.started_on %></li>
      <li><%= link_to "Edit", edit_employee_path(employee) %></li>
      <li><%= link_to "Delete",
        { action: :destroy, id: employee.id },
        method: :delete,
        data: { confirm: "Are you sure you want to delete @#{employee.slack_username}?" }
        %></li>
  <% end %>
