<div class="alert">
  Quarterly messages are temporiarily disabled.
  You can still create, edit, delete and test querterly messages,
  but they will not be sent at the start of a new quarter.
</div>
