<%= render "header", title: "Broadcast messages" %>
<section class="main-content">
  <%= render "flashes" %>
  <% @broadcast_messages.each do |message| %>
    <%= render 'broadcast_message', message: message %>
  <% end %>
  <% if @broadcast_messages.empty? %>
    <label>No matches found.</label>
  <% end %>
</section>
