.alert {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #d0e9c6;
  font-size: 0.8rem;
  padding: 0.5em;
  @include span-columns(10);
  border-radius:0.5em;
  margin-bottom: 1em;
}
