$white: #fff;
$gray-mid: #ccc;
$bg-error: #FF6565;
$bg-notice: #A4E7A0;
$bg-18f: #1188ff;

$light-18f: #B3EFFF;
$bright-18f: #00CFFF;
$medium-18f: #046B99;
$dark-18f: #1C304A;
$black-18f: #000000;


$red: #c5403c;
