$base-padding: 1.25em;
$base-padding-lite: ( $base-padding / 2 );
$base-padding-large: ( $base-padding * 2 );
$base-padding-extra: ( $base-padding * 2.5 );


$base-font-family: $nimbus-regular;

$weight-light: 200;
$weight-book: 400;
$weight-bold: 600;
